# Build artifacts
obj/
bittorrent_client
parser_test

# Output directories
torrent_files/downloaded
torrent_files/parsed_torrents
torrent_files/torrent_file_objects

# Debug
*.dSYM/
core

# Clangd index
.cache/