# Build artifacts
obj/

# Tests output
out/

# Output directories
torrent_files/downloaded
torrent_files/downloaded_using_qbittorent
torrent_files/parsed_torrents
torrent_files/torrent_file_objects

# Clangd index
.cache/

# Logs
log/
*.log